{{#each}}
  <article {{bind-attr class="status running"}}>
    <figure></figure>
    <section>
      <p>{{branchName}}</p>
      {{#if running}}
        {{progress-bar value=percentageComplete}}
      {{/if}}
    </section>
  </article>
{{/each}}

{{#link-to 'configure' class="link-to-configure"}}
  <i class="fa fa-cog"></i>
{{/link-to}}
