{{#each}}
  <article {{bind-attr class="status running"}}>
    <figure></figure>
    <p>{{branchName}}</p>
    {{#if running}}
      <progress {{bind-attr value=percentageComplete}} max="100"></progress>
    {{/if}}
  </article>
{{/each}}
