body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img, a img {
  border: none; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: #000; }

body {
  background: #333;
  color: #e3e3e3;
  font-family: 'Helvetica Neue', Arial, sans-serif; }

h2 {
  font-size: 24px; }

p {
  font-size: 16px;
  line-height: 1.5; }

.servers {
  color: #c7c7c7;
  margin: 10px; }

.server:first-child .build-list:first-child li:first-child,
.server:first-child .build-list:first-child li:first-child div {
  border-radius: 3px 3px 0 0; }

.server:last-child .build-list:last-child li:last-child,
.server:last-child .build-list:last-child li:last-child div {
  border-radius: 0 0 3px 3px; }

@-webkit-keyframes sheen {
  0% {
    background-position: -300px 0; }

  100% {
    background-position: 4000px 0; } }

.build-status li {
  background: #121212;
  background: -webkit-linear-gradient(top, #111111, #292929);
  background: linear-gradient(top, #111111, #292929);
  overflow: hidden; }
  .build-status li:first-child {
    border: none; }
.build-status .running .branch-wrap {
  background: image-url("shine.png") no-repeat;
  -webkit-animation: sheen 10s infinite; }
.build-status .branch {
  border-top: solid 1px;
  border-bottom: solid 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
  white-space: nowrap;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }
.build-status .status-success .branch {
  background-color: #496624;
  border-top-color: #56792b;
  border-bottom-color: #3c531d; }
.build-status .status-failure .branch {
  background-color: #973333;
  border-top-color: #aa3939;
  border-bottom-color: #842d2d; }
.build-status .status-unknown .branch {
  background-color: #626262;
  border-top-color: #6f6f6f;
  border-bottom-color: #555555; }
.build-status .status-no-recent-builds .branch {
  background-color: #434343;
  border-top-color: #505050;
  border-bottom-color: #363636; }
  .build-status .status-no-recent-builds .branch h2 {
    font-size: 16px;
    opacity: 0.6; }

.running .branch {
  min-height: 90px; }

.status-text,
.stage-text {
  opacity: 0.5; }
  .not-running .status-text, .not-running
  .stage-text {
    display: none; }
  .running .status-text, .running
  .stage-text {
    display: block; }

.fixtures {
  display: none; }

.fixture-mode-message {
  padding: 10px; }
  .fixture-mode-message p {
    opacity: 0.6; }
