body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,a img{border:none;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}

body {
  background-color: #d3d3d3;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.server {
  margin: 10px 5px;
}

.build-status li {
  margin: 5px;
}

.build-info div {
  border: solid 1px rgba(0,0,0,0.2);
  border-radius: 3px;
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
  white-space: nowrap;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.status-success div {
  background-color: #88BE4D;
}

.status-failure div {
  background-color: #CF5050;
}

.status-unknown div {
  background-color: #b2b2b2;
}

.status-no-recent-builds div {
  font-size: 18px;
  background-color: #D3D67C;
}

.status-text,
.stage-text {
  opacity: 0.5;
}

.running .status-text,
.running .stage-text {
  display: block;
}

.not-running .status-text,
.not-running .stage-text {
  display: none;
}

.fixtures {
  display: none;
}
