/* line 1, styles.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 1, styles.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, styles.scss */
fieldset, img, a img {
  border: none;
}

/* line 1, styles.scss */
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit;
}

/* line 1, styles.scss */
del, ins {
  text-decoration: none;
}

/* line 1, styles.scss */
li {
  list-style: none;
}

/* line 1, styles.scss */
caption, th {
  text-align: left;
}

/* line 1, styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 1, styles.scss */
q:before, q:after {
  content: '';
}

/* line 1, styles.scss */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* line 1, styles.scss */
sup {
  vertical-align: baseline;
}

/* line 1, styles.scss */
sub {
  vertical-align: baseline;
}

/* line 1, styles.scss */
legend {
  color: #000;
}

/* line 3, styles.scss */
body {
  background: #333;
  color: #e3e3e3;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* line 9, styles.scss */
h2 {
  font-size: 24px;
}

/* line 13, styles.scss */
p {
  font-size: 16px;
  line-height: 1.5;
}

/* line 18, styles.scss */
.servers {
  color: #c7c7c7;
  margin: 10px;
}

/* line 25, styles.scss */
.server:first-child .build-list:first-child li:first-child,
.server:first-child .build-list:first-child li:first-child div {
  border-radius: 3px 3px 0 0;
}

/* line 32, styles.scss */
.server:last-child .build-list:last-child li:last-child,
.server:last-child .build-list:last-child li:last-child div {
  border-radius: 0 0 3px 3px;
}

@-webkit-keyframes sheen {
  /* line 38, styles.scss */
  0% {
    background-position: -1000px 0;
  }

  /* line 39, styles.scss */
  100% {
    background-position: 1500px 0;
  }
}

/* line 43, styles.scss */
.build-status li {
  background: #121212;
  background: -webkit-linear-gradient(top, #111111, #292929);
  background: linear-gradient(top, #111111, #292929);
  overflow: hidden;
}
/* line 48, styles.scss */
.build-status li:first-child {
  border: none;
}
/* line 53, styles.scss */
.build-status .running .branch-wrap {
  background: url('shine.png?1368043686') no-repeat;
  -webkit-animation: sheen 5s infinite;
}
/* line 58, styles.scss */
.build-status .branch {
  border-top: solid 1px;
  border-bottom: solid 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
  white-space: nowrap;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
/* line 70, styles.scss */
.build-status .status-success .branch {
  background-color: #496624;
  border-top-color: #648c31;
  border-bottom-color: #2e4017;
}
/* line 77, styles.scss */
.build-status .status-failure .branch {
  background-color: #973333;
  border-top-color: #bd4040;
  border-bottom-color: #712626;
}
/* line 84, styles.scss */
.build-status .status-unknown .branch {
  background-color: #626262;
  border-top-color: #7c7c7c;
  border-bottom-color: #494949;
}
/* line 91, styles.scss */
.build-status .status-no-recent-builds .branch {
  background-color: #434343;
  border-top-color: #5d5d5d;
  border-bottom-color: #2a2a2a;
}
/* line 96, styles.scss */
.build-status .status-no-recent-builds .branch h2 {
  font-size: 16px;
  opacity: 0.6;
}

/* line 104, styles.scss */
.status-text,
.stage-text {
  opacity: 0.5;
}
/* line 107, styles.scss */
.not-running .status-text, .not-running
.stage-text {
  display: none;
}

/* line 112, styles.scss */
.fixtures {
  display: none;
}

/* line 116, styles.scss */
.fixture-mode-message {
  padding: 10px;
}
/* line 119, styles.scss */
.fixture-mode-message p {
  opacity: 0.6;
}
