.builds {
  article {
    @include clearfix;
    margin: 10px;

    $figure-size: 32px;

    figure {
      background: #e3e3e3;
      border-radius: 50%;
      float: left;
      margin-top: 5px;
      width: $figure-size;
      height: $figure-size;
    }

    section {
      font-size: 1.2em;
      margin-left: $figure-size + 10;
    }

    p {
      margin-top: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    progress {
      display: block;
      height: 10px;
    }

    progress[value] {
      -webkit-appearance: none;
      margin: 0;
      width: 100%;
    }

    progress[value]::-webkit-progress-bar {
      background-color: #222;
      border-radius: 3px;
    }

    progress[value]::-webkit-progress-value {
      background-color: #676767;
      background-image: -webkit-linear-gradient(-45deg,
                                                transparent 33%,
                                                rgba(0, 0, 0, 0.1) 33%,
                                                rgba(0, 0, 0, 0.1) 66%,
                                                transparent 66%);
      border-radius: 3px;
      background-size: 35px 10px, 100% 100%, 100% 100%;
      transition: all 1s ease-out;
    }

    &.success figure {
      background: $success-color;
    }

    &.failure figure,
    &.error figure {
      background: $error-color;
    }
  }
}
