.builds {
  article {
    @include clearfix;
    margin: 10px;

    $figure-size: 32px;

    figure {
      background-color: #e3e3e3;
      background-image: linear-gradient(145deg, rgba(255,255,255,0.2), transparent);
      border: solid 3px;
      border-radius: 50%;
      float: left;
      margin-top: 5px;
      width: $figure-size - 6;
      height: $figure-size - 6;
    }

    &.success figure {
      background-color: $success-color;
      border-color: darken($success-color, 20%);
    }

    &.failure figure,
    &.error figure {
      background-color: $error-color;
      border-color: darken($error-color, 20%);
    }

    section {
      font-size: 1.2em;
      margin-left: $figure-size + 10;
    }

    p {
      margin-top: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    $progress-bar-height: 12px;

    .progress-bar {
      background-color: #222;
      border-radius: 3px;
      display: block;
      position: relative;
      height: $progress-bar-height;
    }

    .progress-value {
      background-color: #878787;
      background-image: linear-gradient(-45deg,
                                        transparent 33%,
                                        rgba(0, 0, 0, 0.1) 33%,
                                        rgba(0, 0, 0, 0.1) 66%,
                                        transparent 66%);
      border-radius: 3px;
      background-size: 35px $progress-bar-height, 100% 100%, 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      transition: all 1s ease-out;
    }
  }
}

a.link-to-configure {
  color: rgba(255,255,255,0.8);
  display: block;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;

  i {
    display: none;
    float: right;
  }

  &:hover i {
    display: inline;
  }
}
