$progress-bar-height: 24px;

@-webkit-keyframes progress-bar-stripes {
  from { background-position: $progress-bar-height 0; }
  to { background-position: 0 0; }
}

@keyframes progress-bar-stripes {
  from { background-position: $progress-bar-height 0; }
  to { background-position: 0 0; }
}

.builds {
  padding: 5px 0;
  article {
    @include clearfix;
    margin: 0 10px;

    $figure-size: 32px;

    figure,
    i {
      box-sizing: border-box;
      float: left;
      margin-top: 5px;
      width: $figure-size;
      height: $figure-size;
    }

    figure {
      background-color: #e3e3e3;
      background-image: linear-gradient(145deg, rgba(255,255,255,0.2), transparent);
      border: solid 3px;
      border-radius: 50%;
    }

    i {
      color: #c7c7c7;
      display: none;
      font-size: 1.6em;
      line-height: $figure-size;
      text-align: center;
    }

    &.success figure {
      background-color: $success-color;
      border-color: darken($success-color, 20%);
    }

    &.failure figure,
    &.error figure {
      background-color: $error-color;
      border-color: darken($error-color, 20%);
    }

    &.queued {
      figure {
        display: none;
      }

      i {
        display: block;
      }
    }

    section {
      font-size: 1.2em;
      margin-left: $figure-size + 10;
    }

    p {
      margin: 2px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .progress-bar {
      background-color: #222;
      border-radius: 3px;
      overflow: hidden;
      height: $progress-bar-height / 2;
    }

    .progress-value {
      -webkit-animation: progress-bar-stripes 2s linear infinite;
      animation: progress-bar-stripes 2s linear infinite;
      background-color: #878787;
      background-image: linear-gradient(-45deg,
                                        rgba(255,255,255,0.15) 25%,
                                        transparent 25%,
                                        transparent 50%,
                                        rgba(255,255,255,0.15) 50%,
                                        rgba(255,255,255,0.15) 75%,
                                        transparent 75%,
                                        transparent);
      background-repeat: repeat-x;
      background-size: $progress-bar-height $progress-bar-height;
      float: left;
      width: 0;
      height: 100%;
      transition: width 0.6s ease;
    }
  }
}

.builds-error,
.no-builds {
  color: #d3d3d3;
  margin: 15px;

  h3 {
    color: #FFF;
    font-size: 1.1em;
  }

  li {
    line-height: 1.5;
    list-style: disc;
    margin-left: 25px;
  }
}

a.link-to-configure {
  color: rgba(255,255,255,0.8);
  display: block;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;

  i {
    display: none;
    float: right;
  }

  &:hover i {
    display: inline;
  }
}
