.configure {
  padding: 10px 20px;
}

.build-filter {
  position: relative;

  i {
    color: #c7c7c7;
    position: absolute;
    left: 7px;
    top: 7px;
  }

  input {
    padding-left: 30px;
  }
}

.project {
  @include clearfix;

  h4 {
    float: left;
    width: 130px;
  }

  ul {
    margin-left: 150px;
  }
}
